.AboutBookPopupWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.626);
}

.AboutBookPopup {
  width: 60%;
  background-color: #cbcac3;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.AboutBookPopupImageWrapper {
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutBookPopupImage {
  width: 15rem;
  mix-blend-mode: multiply;
}

.AboutBookPopupInfoWrapper {
  width: 50%;
  padding: 1rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.AboutBookPopupDetailsWrapper {
  display: flex;
  flex-direction: column;
}

.AboutBookPopupInfoWrapper h3 {
  font-family: "Gilda Display", serif;
  font-size: 35px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: left;
}

.AboutBookPopupAuthor {
  font-family: "Gilda Display", serif;
  font-size: 15px;
  margin: 0;
  text-align: left;
}

.AboutBookPopupDescription {
  font-family: "Gilda Display", serif;
  font-size: 15px;
  margin: 2rem 0 0 0;
  text-align: justify;
}

.AboutBookPopupLinkToGoogleBooks {
  font-family: "Gilda Display", serif;
  font-size: 15px;
  margin: 0 0 1rem 0;
  text-align: left;
}

.AboutBookPopupButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.AboutBookPopupButton {
  width: 150px;
  height: 30px;
  border-radius: 30px;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: rgb(223, 223, 223);

}

.AboutBookPopupButton a {
  text-decoration: none;
}
