.BooksCategorySectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem 10% 5rem 10%;
  align-items: center;
  box-sizing: border-box;
  gap: 2rem;
  background-color: #eeede5;
  box-shadow: rgba(0, 0, 0, 0.24) -5px 2px 6px, rgba(0, 0, 0, 0.24) 5px 2px 6px;
}

.BooksCategorySectionTopBooks {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.BooksCategorySectionTopBooksDescriptionWrapper {
  width: 50%;
}

.BooksCategorySectionTopBooksImageWrapper img {
  width: 400px;
  object-fit: contain;
}

.BooksCategorySectionTopBooksDescriptionWrapper h2 {
  font-family: "Gilda Display", serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}

.BooksCategorySectionTopBooksDescriptionWrapper p {
  font-family: "Gilda Display", serif;
  font-size: 18px;
  font-weight: 400;
}

.BooksCategorySectionTopBooksDescriptionWrapper button {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.BooksCategorySectionTopBooksDescriptionWrapper a {
  text-decoration: underline;
  color: black;
}

@media screen and (max-width: 1023px) {
  .BooksCategorySectionTopBooksImageWrapper img {
    width: 300px;
  }

  .BooksCategorySectionWrapper {
    padding: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .BooksCategorySectionTopBooksImageWrapper img {
    display: none;
  }
  
  .BooksCategorySectionTopBooksDescriptionWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .BooksCategorySectionTopBooks {
    gap: 0;
    justify-content: center;
  }

  .BooksCategorySectionTopBooksDescriptionWrapper h2 {
    font-size: 30px;
    text-align: center;
  }

  .BooksCategorySectionTopBooksDescriptionWrapper p {
    font-size: 15px;
    text-align: center;
  }
}