.FirstBookWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
  gap: 1rem;
}

.FirstBookImageWrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  position: relative;
}

.FirstBookImage {
  height: 300px;
  object-fit: contain;
  transform: skew(-1deg, 1deg);
  filter: drop-shadow(8px -1px 10px #000000);
  margin-bottom: -2rem;
  z-index: 100;
  border-radius: 2px;
  mix-blend-mode: multiply;
}

.BookImageLoading {
  height: 50px;
  object-fit: contain;
  align-self: center;
  justify-self: center;
  animation: mymove 5s infinite;
}

@keyframes mymove {
    100%{transform: rotate(360deg);}
  }

.FirstBookWrapper h5 {
  font-family: "Gilda Display", serif;
  font-size: 15px;
  margin: 1rem 0 0 0;
  cursor: pointer;
}

.BookItemInfoWrapper {
  height: 100px;
  margin-bottom: 0.5rem;
}

.FirstBookInfo {
  font-family: "Gilda Display", serif;
  font-size: 15px;
  margin: 0.5rem 0 0 0;
}

.FirstBookInfoWeeks {
  font-family: "Gilda Display", serif;
  font-size: 15px;
  margin: 0.5rem 0 2rem 0;
}

.FirstBookNumber {
  position: absolute;
  top: -10px;
  left: -20px;
  background-image: url("../../../Assets/gold-star.png");
  background-size: 65px;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.FirstBookNumber p {
  font-family: "Gilda Display", serif;
  font-size: 25px;
  margin: 0.5rem 0 0 0;
}

.BookItemLinkToLoginBtn {
  width: 150px;
  height: 30px;
  border-radius: 30px;
  font-family: "Gilda Display", serif;
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
  border: none;
  color: black;
}

.BookAlreadyInMyBooks {
  width: 150px;
  height: 30px;
  border-radius: 30px;
  font-family: "Gilda Display", serif;
  font-weight: 500;
  font-size: 10px;
  border: none;
  background-color: rgb(146, 146, 146);
}

.WhiteBtn {
  background: linear-gradient(#eeede5, #acaba4);
  color: black !important;
  transition: all 100ms ease-out;
}

.WhiteBtn:hover {
  background: linear-gradient(#acaba4, #eeede5);
}

@media screen and (max-width: 515px) {
  .FirstBookWrapper {
    flex-direction: column-reverse;
  }

  .FirstBookImageWrapper {
    margin-top: 2rem;
  }
  
  .FirstBookInfoWeeks {
    margin-bottom: 0.5rem;
  }
}